.settings {
   @include outerBlock;
   padding: 60px 0;

   &__wrapper {
      margin: auto;
      width: 510px;
   }

   &__form {
    width: 100%;
   }

   &__name {
      margin: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
   }
}