.btn {
    display: block;
    width: 280px;
    border-radius: 8px;
    background: $color_blue;
    color: #FFF;
    padding: 12px 0;
}

.btn__search {
    display: flex;
    background-color: $color_grey;
    width: 20%;
    height: 32px;
    border-radius: 5px;
}

.btn__img {
    margin: auto;
}

.btn__img_transform {
    transform: rotate(-45deg);
}

.btn__img_left {
    transform: rotate(-180deg);
}

.btn__header {
    position: relative;
    width: 3px;
    height: 15px;
    margin-right: 10px;
}

.btn__clip {
    position: relative;
    width: 32px;
    height: 32px;
}

.btn__message {
    background-color: $color_blue;
    position: relative;
    width: 31px;
    height: 28px;
    border-radius: 50%;
}

.btn__circle {
    display: flex;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid $color_blue;
}

.btn__back {
    margin: auto;
    background-color: $color_blue;
}

.btn__chat {
    color: $grey2;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 23px;

    &:hover {
    color: $color_black;
    
    }
}

.btn__send-chat {
    color: $grey2;
    padding: 0 10px;
    font-size: 10px;
    line-height: 32px;
    background-color: $color_grey;
    width: 25%;
    height: 32px;
    border-radius: 5px;

    &:hover {
        color: $color_black;
        }
}