.btn {
    display: block;
    width: 280px;
    border-radius: 8px;
    background: $color_blue;
    color: #FFF;
    padding: 12px 0;
}

.btn__search {
    position: relative;
    background-color: $color_grey;
    width: 20%;
    height: 32px;
    border-radius: 5px;

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/search.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
}

.btn__header {
    position: relative;
    width: 3px;
    height: 15px;
    margin-right: 10px;

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/btn.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
}

.btn__clip {
    position: relative;
    width: 32px;
    height: 32px;

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/clip.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
}

.btn__message {
    background-color: $color_blue;
    position: relative;
    width: 31px;
    height: 28px;
    border-radius: 50%;

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../img/right-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 100%;
        height: 100%;
    }
}