<div class="chatPage">
    {{{ChatList chats=chats}}}
    
    <section class="messages">
        {{{MessagesHeader avatar=avatar name=name}}}
        <main class="messages__main">
            <div class="messages__wrapper">
                <div class="messages__date">12 июня</div>
                <ul class="messages__list">
                    <li class="message">
                        <div class="message__wrapper message__companion">
                            <p class="message__text">Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
                            <div class="message__time">11:56</div>
                        </div>
                    </li>
                    <li class="message">
                        <div class="message__wrapper message__companion">
                            <img src="../../img/photo.jpg" alt="photo">
                            <div class="message__time">11:56</div>
                        </div>
                    </li>
                    <li class="message">
                        <div class="message__wrapper message__own">
                            <p class="message__text">Привет</p>
                            <p class="message__time">11:56</p>
                        </div>
                    </li>
                    <li class="message">
                        <div class="message__wrapper message__own message_active">
                            <p class="message__text">Круто!</p>
                            <p class="message__time">11:56</p>
                        </div>
                    </li>
                 </ul>
            </div>
           
        </main>
        {{{MessagesFooter}}}
    </section>
</div>

