.chatPage {
    display: flex;
}

.chats {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat {
    display: flex;
    gap: 10px;
    border-top: 1px solid $grey3;
    padding: 10px 0;

    &_active {
        background-color: $bg_active;
    }

    &__img {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: $color_grey;
    }

    &__block {
        @include colomn;
        align-items: flex-start;

        &-message {
            width: 193px;
        }
    }

    &__title {
        color: $color_black;
        font-size: 13px;
        font-weight: 600;
    }

    &__wrapper-message {
        display: flex;
        gap: 2px;
        font-size: 12px;
        font-weight: 500;
    }

    &__name {
        color: $color_black;
    }

    &__message {
        color: $grey2;
        line-height: 15px
    }

    &__date {
        color: $grey2;
        text-align: right;
        font-size: 9px;
        font-weight: 500;
    }

    &__count {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        background-color: $color_blue;
        text-align: center;
        color: $color_white;
    }
}

.message {
    display: block;
    width: 100%;



    &__wrapper {
        padding: 11px;
        max-width: 45%;
        background-color: $bg_chatList;
        border-radius: 7px;
        color: $color_black;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }

    &__own {
        margin: 0 0 0 auto;
    }

    &__time {
        color: $grey2;
        text-align: right;
        font-size: 9px;
        font-weight: 500;
        width: 30px;
        margin: 0 0 0 auto;
    }

    &_active {
        background-color: $bg_active;
    }
}