<main class="messages__main">
    <div class="messages__wrapper">
        
        <ul class="messages__list">
            {{#if selectedChat}}
            {{#each messages}}
                {{{Message content=this.content time=this.time userIdChat=this.user_id}}}
            {{/each}}
            {{else}}
            <span>Выберите чат, чтобы отправить сообщение</span>
            {{/if}}
        </ul>
    </div>
</main>
