.main {
    @include outerBlock;
    
    &__wrapper {
        padding: 50px 30px 30px 30px;
        min-width: 340px;
        min-height: 390px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
        @include wrapperForm;
    }

    &__form {
        margin-bottom: 14px;
    
        &-block {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    &__link {
        padding-top: 14px;
    }
}
