<div class="error-page">
   <main class="error-page__wrapper">
      <h1 class="error-page__title">404</h1>
      <div class="error-page__message">Не туда попали</div>
      {{{Button label="Назад к чатам" className="link" onClick=onClick}}}
   </main>
</div>