.messages {
    @include colomn;
    padding: 0 20px;
    width: 100%;


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        height: 54px;
        width: 100%;
    }

    &__main {
        overflow-y: scroll;
    }

    &__companion {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $color_grey;

    }

    &__name {
        color: $color_black;
        font-size: 13px;
        font-weight: 600;
        width: 193px;
        text-align: left;
    }

    &__main {
        border-bottom: 1px solid $grey3;
        border-top: 1px solid $grey3;
        height: calc(100vh - 108px);
        width: 100%;
        padding: 48px 0 30px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 20px;

    }

    &__date {
        color: $grey2;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__footer {
        padding: 11px 0;
        width: 100%;
        height: 54px;
    }
}