<div class="profile__field">
    <div class="row row_margin">
        <span class="label__profile">{{name}}</span>
        <span class="input input_rigth">{{value}}</span>
    </div>
    {{{ Line className="line line_gray"}}}
</div>
