.message {
    display: block;
    width: 100%;

    &__wrapper {
        padding: 11px;
        max-width: 45%;
        background-color: $bg_chatlist;
        border-radius: 7px;
        color: $color_black;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__own {
        margin: 0 0 0 auto;
    }

    &__time {
        color: $grey2;
        text-align: right;
        font-size: 9px;
        font-weight: 500;
        width: 30px;
        margin: 0 0 0 auto;
    }

    &_active {
        background-color: $bg_active;
    }
}
