.form {
    width: 100%;
    height: 100%;
    @include colomn;

    &__title {
        margin-bottom: 40px;
    }

    &__label {
        margin-bottom: 8px;
    }

    &__wrapper {
        margin: 60px 0;
    }

    &__search {
        padding: 0 10px;
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 5px;
    }

    &__message {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
}