.modal {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 40%);

    &__block {
        border-radius: 12px;
        background-color: $color_white;
        margin: auto;
        width: 340px;
        padding: 40px 30px;
    }
}
