$color_black: #1E1E1E;
$color_blue: #3369F3;
$color_grey: #EFEFEF;
$color_white: #fff;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  color: $color_black;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
}