.input {
    border: none;
    color: $color_black;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 4px;
    width: 100%;
}

.input_rigth {
    padding: 10px 4px;
    text-align: right;
}

