.link {
    display: block;
    color: $color_blue;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;

    &_left {
        text-align: left;
        margin: 10px 0;
    }

}