$color_black: #1E1E1E;
$color_blue: #3369F3;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  color: $color_black;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.hide {
  display: none;
}

