   <main class="error">
      <div class="error__wrapper">
        {{> error/error classError='error__title' title='500' classMessage='error__message' errorMessage='Не туда попали'}}

        {{> link/link href="/pages/chat/chat.html" label="Назад к чатам" class="link"}}
      </div>
   </main>


