.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: absolute;
    gap: 16px;
    top: 65px;
    right: 50px;
    width: 210px;
    height: 90px;
    border-radius: 12px;
    background-color: $color_white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);

    &__item {
        width: 100%;
        color: $color_black;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__img {
        margin: auto;

        &_transform {
            transform: rotate(-45deg);;
        }
    }

}