    <header class="messages__header">
        <div class="messages__companion">
            <div class="messages__avatar">{{avatar}}</div>
            <div class="messages__name">{{name}}</div>
        </div>
        
        {{{ Button type='button' className="btn__header" onClick=menu }}}

        {{{ Menu ref="menu"}}}
       
    </header>
    


    
        