<div class="menu">
    <div class="menu__item">
        {{#Button type='button' className="btn__circle" onClick=setModalUser}}
            <img class="menu__img" src="../../img/cross.svg" alt="иконка">
        {{/Button}}
        <p class="menu_link">Добавить пользователя</p>
    </div>
    <div class="menu__item">
        {{#Button type='button' className="btn__circle" onClick=setModalDeleteUser}}
                <img class="menu__img menu__img_transform" src="../../img/cross.svg" alt="иконка">
        {{/Button}}
        <p class="menu_link">Удалить пользователя</p>
    </div>

    {{{ ModalAddUser ref="add"}}}
    {{{ ModalDeleteUser ref="delete"}}}
</div>


    
        