@import './style/normalize.css';
@import './style/style.scss';
@import './style/mixins.scss';
@import './style/form.scss';
@import './style/avatar.scss';
@import './style/link.scss';
@import './style/main.scss';
@import './style/modal.scss';

@import './components/button/button.scss';
@import './components/label/label.scss';
@import './components/input/input.scss';
@import './components/error/error.scss';

@import './components/title/title.scss';
@import './components/line/line.scss';

@import './blocks/chatList/chatList.scss';
@import './blocks/messageFeed/messages.scss';
@import './blocks/messageFeed/messagesHeader/menu.scss';


@import './pages/errorPage404/errorPage.scss';
@import './pages/chat/chat.scss';
@import './pages/profile/profile.scss';