<footer class="messages__footer">
    <form class="form__message">
        {{{ Button type='button' className="btn__clip" onClick=onClick}}}
        {{{ Input type="text" name="message" placeholder="Сообщение" id="login" className="input input__message" ref="message"}}}
        {{{ Button type='button' className="btn__message" onClick=sendMessage}}}
    </form>
</footer>

