<div class="form__avatar avatar">
  {{#Button type='button' className="avatar__wrapper" onClick=changeAvatar}}
      <img class="avatar__img" src="../../img/union.svg" alt="иконка">
  {{/Button}}

  <span class="avatar__name">{{name}}</span>
</div>
