<li class="menu__item">
    {{#Button type='button' className="btn__menu"}}
        <img class="button__img" src="{{src}}" alt="иконка">
    {{/Button}}
    <p class="menu__link">{{text}}</p>
</li>


    
        